#outer_border
  #inner_border
    #menu_links
      = render 'shared/menu_links'
      #admin_info
        = current_user.first_name
        %p
          = current_user.mobile_no 
      #admin_photo
        = image_tag("user.png",:width => "80",:heigth => "80")   

