#middle_layer
  #middle_layer_sub_header
    = image_tag("sub_header.gif")
  #middle_layer_latest_news
    Latest News
  #middle_layer_lastest_news_text
    %marquee{:direction => "up", :height => "160", :loop => "true", :onmouseout => "this.start();", :onmouseover => "this.stop();", :scrollamount => "3", :width => "300"}
      %p ₹ 5,000 double your investment in 3 year
      %p ₹ 20,000 double your investment in 5 years Get 1 lakh health insuranc
      %p ₹ 25,000 double your investment in 5 years Get 1 lakh health insurance &amp; Shirdi trip ( 2N / 3D )
      %p ₹ 50,000 double your investment in 5 years Get 1 lakh health insurance &amp; Srilanka trip ( 3N / 4D )
      %p ₹ 75,000 double your investment in 5 years Get 1 lakh health insurance &amp; Thailand trip ( 4N / 5D )
      %p ₹ 1,00,000 double your investment in 5 years Get 1 lakh health insurance &amp; Nepal trip ( 5N / 6D )
      %p ₹ 1,50,000 double your investment in 5 years Get 1 lakh health insurance &amp; Malaysia trip ( 3N / 4D )
      %p ₹ 2,00,000 double your investment in 5 years Get 1 lakh health insurance &amp; Singapore trip ( 3N / 4D )
  #middle_layer_head_text
    Welcome To Suraksha Holidays Emi Pvt Ltd.
  #middle_layer_sub_text
    %p Travel is made affordable now and even the most luxurious travel booking is within your budget.
    %p Under the concept, the equated monthly instalment based tour packages come with zero down payment and zero interest credit scheme.This has made travelling easier for the middle class families not only within the country but abroad too.     
    %p The basic idea behind Suraksha Holidays is you can own tomorrow’s holidays at today’s prices.A one-time payment entitles you a week of holidaying at more burdensome for middle class families who has a dream to visit Foreign Tourist Places.Further for your convenience, we have split the same into very affordable EMI’s which are inflation-free and easily payable.
#bottom_layer
  #bottom_layer_travel_now_image
    = image_tag("travel-now.jpg")
  #bottom_layer_images
    %p
      %a.fancybox-effects-a{"data-fancybox-group" => "gallery",:href => "/assets/1_b.jpg"}
        %img#thumb{:src => "/assets/1_s.jpg"}

      %a.fancybox-effects-a{"data-fancybox-group" => "gallery",:href => "/assets/2_b.jpg"}
        %img#thumb{:src => "/assets/2_s.jpg"}
     
      %a.fancybox-effects-a{"data-fancybox-group" => "gallery",:href => "/assets/3_b.jpg"}
        %img#thumb{:src => "/assets/3_s.jpg"}
    
      %a.fancybox-effects-a{"data-fancybox-group" => "gallery",:href => "/assets/4_b.jpg"}
        %img#thumb{:src => "/assets/4_s.jpg"}
#footer_layer  
  #foot_image
    = image_tag("footer.png",:width =>'939',:height => '282')
  #footer_call_us
    Call Us (8 Am - 9 Pm)
    %p +91 80 40909192
    
  #footer_rights
    %p Email Us : inf@surakshaholidaysemi.com
    %p © 2012 Suraksha Holidays Emi
